<%= form_for @expend do |f| %>
  <% if @expend.errors.any? %>
    <h2><%= pluralize(@expend.errors.count, "error") %> prohibited this article from being saved:</h2>
    <ul>
      <% @expend.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
        <% end %>
    </ul>
  <% end %>
<p>
<%= f.label :title %><br>
<%= f.text_field :title %>
</p>

<p>
<%= f.label :price %><br>
<%= f.text_field :price %>
</p>

<p>
<%= f.submit %>
</p>

<% end %>
