<h1>Hello, Expends!</h1>
<%= form_for :expend, url: expends_path do |f| %>

<p>
<%= f.label :title %><br>
<%= f.text_field :title %>
</p>

<p>
<%= f.label :price %><br>
<%= f.text_field :price %>
</p>

<p>
<%= f.submit %>
</p>

<% end %>
