<div class="container">
  <h1>小払い管理</h1>
  <h2><i class="fas fa-coins"></i> <%= @expend.title %></h2>

  <table>
    <tr>
      <th><i class="fas fa-sign-in-alt"></i> 仮払い額</th>
      <th><i class="fas fa-sign-out-alt"></i> 支払い額</th>
      <th><i class="fas fa-piggy-bank"></i> 残金</th>
    </tr>
    <tr>
      <td class="price">¥ <%= @expend.price.to_s(:delimited) %></td>
      <td class="price">¥ <%= @expend.pays.sum(:cost).to_s(:delimited) %></td>
      <td class="price"><span class="hilight">¥ <%= (@expend.price) - (@expend.pays.sum(:cost)) %></span></td>
    </tr>
  </table>
  
  <h2><i class="fas fa-sign-out-alt"></i> 支払い</h2>
  <table>
    <tr>
      <th>支払日</th>
      <th>支払先</th>
      <th>支払額</th>
    </tr>
    <% @expend.pays.each do |pay| %>
      <tr>
        <td class="date"><%= pay.updated_at.strftime("%Y.%m.%d") %></td>
        <td class="dest"><%= pay.payable %></td>
        <td class="price">¥<%= pay.cost %>
          <%= link_to expend_pay_path(@expend, pay), method: :delete, data: {confirm: '本当に削除しますか?'} do %>
            <i class="fas fa-ban"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
    <td colspan="2">total</td>
    <td class="price">¥<%= @expend.pays.sum(:cost).to_s(:delimited) %></td>
  </table>

  <div class="add-new">
    <h2>支払いを登録</h2>
    <%= render "pays/form" %>
    <%= link_to 'Back', expends_path %> | <%= link_to 'Edit', edit_expend_path(@expend) %>
  </div>
</div>
