<%= form_for([@expend, @expend.pays.build]) do |f| %>
<p>
<%= f.label :payable %><br>
<%= f.text_field :payable %>
</p>

<p>
<%= f.label :cost %><br>
<%= f.text_field :cost %>
</p>

<p>
<%= f.submit %>
</p>

<% end %>
