<%= form_for([@expend, @expend.pays.build]) do |f| %>
<p>
<%= f.label :支払先 %><br>
<%= f.text_field :payable %>
</p>

<p>
<%= f.label :支払額 %><br>
<%= f.text_field :cost %>
</p>

<p>
<%= f.submit %>
</p>

<% end %>
